body{
   background-image: linear-gradient(to right,blue,red,blue);
  color:black;
  font-weight: bold;
   text-align: left;
  margin-top: 10px !important;
  width: 500px;
  display: block;
  margin: 0 auto;
  padding: 40px 100px;
  border: 2px solid #000;
  border-radius: 25px;
}
h1,h2{
  text-align: center;
}
input {
  display: block;
  margin: 0 auto;
  background-color: #04F5BB;
  border-radius: 1px;
  width: 150px;
  height: 30px;
  text-align: left;
  color:black;
  margin-top: 10px;

     width: 220px;
  height: 25px;
  margin-top: 25px;
  border-radius: 10px;
  font-weight: bold;
 
}
}


